*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--color0:  hsl(0, 0%, 100%);
--color1:  hsl(212, 45%, 89%);
--color2:  hsl(216, 15%, 48%);
--color3:  hsl(218, 44%, 22%);
}
body{
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--color0);
    border-radius: 10px;
    margin: 150px 50px; 
    padding: 5px 5px 20px 5px;     
}
.content{
    display: grid;
    align-items: center;
    padding:1% 1%;
    text-align: center;
    margin:2px 2px;
}
img{
    padding:auto;
    height: 200px;
    width:190px;
    margin: 5px 5px;
    border-radius: 10px;
}
h1{
    color: var(--color3);
    font-family: [Outfit](https://fonts.google.com/specimen/Outfit);
    font-weight: 700;
    font-size: 14px;
    font-style:bold;
    line-height: 15px;

    
    
}
p{
    color: var(--color2);
    font-weight: 500;
    font-size: 10px;
    height: fit-content;
    line-height: 15px;

}